/bin/
/testfile.json
/0.block.json
/0.hash.json
/1.block.json
/1.hash.json
/2.block.json
/2.hash.json
/3.block.json
/3.hash.json
/4.block.json
/4.hash.json
/5.block.json
/5.hash.json
/6.block.json
/6.hash.json
/iplist
/bloecke/
